* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}

body {
	font-size: 13px;
	font-family: "Arial", serif;
	overflow: scroll;
	background-image: url(logo-google.jpg);
	background-position-x: 50%;
    background-position-y: 20%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    text-align: -webkit-center;

}

.top {
	float: right;
	width: 20%
	}

div.gmail, div.images, div.app, div.g+, div.user {
	display: inline-block;
	margin: auto;
}

.searchbutton {
	height: 19px;
	width: 30%;
	margin: auto;
	word-spacing: 7px;
	margin-top: 20%;
	
}

.RG {
	height: 19px;
	width: 30%;
	border: #F6F6F6 0px solid;
	background-color: #F6F6F6;
	display: inline-block;
}

.chance {
	height: 19px;
	width: 30%;
	border: #F6F6F6 0px solid;
	background-color: #F6F6F6;
	display: inline-block;

}


.bottom-bar {
	background-color: #F6F6F6;
}

.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;

}